*.user
*.user.*
*.aeproperties
.vs/
*.tmp
*.Generated.cs
*.Generated.Event.cs
*.generatedpreview.png
*.ods#
TiledObjects.Generated.xml
*.cachefile
*.csvSettings
*.sln.metaproj
packages/
DogDetective/DogDetective/bin/
DogDetective/bin/
DogDetective/DogDetective/obj/
DogDetective/obj/
DogDetective/Content/obj/
!DogDetective/x64
!DogDetective/x86
!DogDetective/Libraries
